{% extends 'base.html' %}
{% load static %}
{% block title %}Tables{% endblock title %}
{% block main-content %}
<body>
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="#" class="list-group-item
         list-group-item-action" aria-current="true" ><h3 class="fw-bold">Apply Filters from Below:</h3></a>
        <a href="{% url 'tables' %}" class="list-group-item
         list-group-item-action" aria-current="true">All</a>


         <a href="{% url 'tablesdata' 'below' %}" class="list-group-item
         list-group-item-action" aria-current="true">below 500</a>
         <a href="{% url 'tablesdata' 'above' %}" class="list-group-item
         list-group-item-action" aria-current="true">above 500</a>
    </div>
  </div>
  <div class="col-sm-8">
      <div class="row">
          {% for product in tables %}
           <div class="col-sm-4 text-center mb-4">
               <a href="{% url 'product-detail' product.id %}" class="btn">
                   <div class="item">
                       <img src="{{product.product_image.url}}" alt="" height="250" width="250" class="">
                       <div class="fw-bold">{{product.description}}</div>
                       <div class="fw-bold">RS.{{product.discounted_price}}</div>
                       <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                   </div>
                </a>
            </div>
            {% endfor %}
        </div>


  </div>
 </div>
</div>
</body>
{% endblock main-content %}